$breakpoint_mobile: 320px;
$breakpoint_tablet: 768px;
$breakpoint_tablet_portrait: 992px;
$breakpoint_desktop_xxl: 1200px;
$breakpoint_desktop: 1440px;

// SCSS Mixins
@mixin mobile {
  @media only screen and (min-width: #{$breakpoint_mobile}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$breakpoint_desktop}) {
    @content;
  }
}
