@use "reset";
@use "global";
@import "responsive";

$primary-font: "Playfair Display", serif;
$secondary-font: "Rubik", sans-serif;

$primary-color: #ff7757;
$secondary-color: #767e86;
$third-color: #172432;

.app-section {
  margin: rem(80) rem(16);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    margin-bottom: rem(100);

    h1 {
      width: fit-content;
      font-size: rem(40);
      font-family: $primary-font;
      border-bottom: rem(2) $primary-color solid;
      padding-bottom: rem(20);
    }
    p {
      font-size: rem(18);
      font-family: $secondary-font;
      color: $secondary-color;
    }
  }
  .underline {
    border: #ff7757 2px solid;
  }

  .app-section__image {
    img {
      max-width: 100%;
    }
  }

  .app-section__buttons {
    margin-top: rem(100);
    display: flex;
    justify-content: space-between;

    button {
      padding: rem(28) rem(20);
      border: none;
      color: #ffffff;
    }
  }

  .button__less {
    margin-right: rem(20);
    background-color: $third-color;
  }

  .button__right {
    margin-left: rem(20);
    background-color: $primary-color;
  }

  @include desktop {
    flex-direction: row;
  }
}
