@use "reset";
@use "global";
@import "responsive";

$primary-font: "Playfair Display", serif;
$secondary-font: "Rubik", sans-serif;

$primary-color: #ff7757;
$secondary-color: #767e86;
$third-color: #172432;
$fourth-color: #fff8f1;

.app-section {
  margin: rem(80) rem(16);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    h1 {
      width: fit-content;
      font-size: rem(40);
      font-family: $primary-font;
      border-bottom: rem(2) $primary-color solid;
      padding-bottom: rem(20);
    }

    p {
      margin-top: rem(32);
      font-size: rem(18);
      font-family: $secondary-font;
      color: $secondary-color;
    }
  }

  .images {
    margin: rem(100) auto;
    gap: 1rem;

    .hidden {
      display: none;
    }

    img {
      max-width: 100%;
    }
  }

  .buttons {
    margin-top: rem(100);
    display: flex;
    justify-content: space-between;

    button {
      padding: rem(20) rem(28);
      border: none;
      color: #ffffff;
      border-radius: rem(12);
      font-size: rem(20);
    }
  }

  .button__less {
    margin-right: rem(20);
    background-color: $third-color;
  }

  .button__right {
    margin-left: rem(20);
    background-color: $primary-color;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    justify-content: center;

    header {
      grid-area: 1 / 1 / 2 / 2;
      width: fit-content;

      h1 {
        font-size: rem(64);
      }
      p {
        font-size: rem(24);
      }
    }

    .images {
      grid-area: 2 / 1 / 3 / 3;
      width: fit-content;
      display: flex;
      gap: rem(32);

      .hidden {
        display: block;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .buttons {
      grid-area: 1 / 2 / 2 / 3;
      width: fit-content;
      align-items: center;
    }
  }
}

.app-offer {
  margin: rem(80) rem(16);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    h1 {
      width: fit-content;
      font-size: rem(40);
      font-family: $primary-font;
      border-bottom: rem(2) $primary-color solid;
      padding-bottom: rem(20);
    }

    p {
      margin-top: rem(32);
      font-size: rem(18);
      font-family: $secondary-font;
      color: $secondary-color;
    }
  }

  .offers {
    background-color: $fourth-color;
    margin: rem(100) auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: rem(426);
    border-radius: rem(26);

    .offers__image {
      max-width: 100%;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .offers_description {
      max-width: 100%;
      .ratings {
        margin: rem(20) rem(20) rem(24) rem(20);
        h3 {
          font-size: rem(28);
          font-family: $secondary-font;
          margin-bottom: rem(32);
        }
      }
      p {
        font-size: rem(16);
        font-family: $secondary-font;
        width: fit-content;
        margin: rem(24) rem(20);
      }

      .info-price {
        margin: 0 rem(20) rem(20) rem(20);

        span {
          font-size: rem(18);
        }
        .price {
          color: $primary-color;
          font-size: rem(32);
        }
      }

      button {
        border-radius: rem(12);
        border: none;
        padding: rem(16) rem(24);
        font-family: inherit;
        font-size: rem(20);
        background-color: $primary-color;
        color: white;
        margin: 0 0 rem(20) rem(20);
      }
    }
  }

  .buttons {
    margin-top: rem(60);
    display: flex;
    justify-content: space-between;

    button {
      padding: rem(20) rem(28);
      border: none;
      color: #ffffff;
      border-radius: rem(12);
      font-size: rem(20);
    }
  }

  .button__less {
    margin-right: rem(20);
    background-color: $third-color;
  }

  .button__right {
    margin-left: rem(20);
    background-color: $primary-color;
  }

  .hidden {
    display: none;
  }
}
