@use "reset";
@use "global";
@import "responsive";

$primary-font: "Playfair Display", serif;
$secondary-font: "Rubik", sans-serif;

$primary-color: #ff7757;
$secondary-color: #767e86;
$third-color: #172432;
$fourth-color: #fff8f1;
$star-color: #ffd500;

$black: #172432;
$subtitle-color: #767e86;
$newsletter-background: #ffe8d4;
$experiences-background: #f5f6f7;
$offer-background: #fff8f1;

.app-section {
  margin: rem(80) rem(16);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    h1 {
      width: fit-content;
      font-size: rem(40);
      font-family: $primary-font;
      border-bottom: rem(2) $primary-color solid;
      padding-bottom: rem(20);
    }

    p {
      margin-top: rem(32);
      font-size: rem(18);
      font-family: $secondary-font;
      color: $secondary-color;
    }
  }

  .images {
    margin: rem(100) auto;
    gap: 1rem;

    .hidden {
      display: none;
    }

    img {
      max-width: 100%;
    }
  }

  .buttons {
    margin-top: rem(100);
    display: flex;
    justify-content: space-between;

    button {
      padding: rem(20) rem(28);
      border: none;
      color: #ffffff;
      border-radius: rem(12);
      font-size: rem(20);
    }
  }

  .button__less {
    margin-right: rem(20);
    background-color: $third-color;
  }

  .button__right {
    margin-left: rem(20);
    background-color: $primary-color;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    justify-content: center;

    header {
      grid-area: 1 / 1 / 2 / 2;
      width: fit-content;

      h1 {
        font-size: rem(64);
      }
      p {
        font-size: rem(24);
      }
    }

    .images {
      grid-area: 2 / 1 / 3 / 3;
      width: fit-content;
      display: flex;
      gap: rem(32);

      .hidden {
        display: block;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .buttons {
      grid-area: 1 / 2 / 2 / 3;
      width: fit-content;
      align-items: center;
    }
  }
}

.app-offer {
  margin: rem(80) rem(16);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    h1 {
      width: fit-content;
      font-size: rem(40);
      font-family: $primary-font;
      border-bottom: rem(2) $primary-color solid;
      padding-bottom: rem(20);
    }

    p {
      margin-top: rem(32);
      font-size: rem(18);
      font-family: $secondary-font;
      color: $secondary-color;
    }
  }

  .offers {
    margin: rem(100) auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .offers__section {
      max-width: rem(428);
      margin: rem(20);
      background-color: $fourth-color;
      border-radius: rem(26);
    }

    .hidden {
      display: none;
    }

    .offers__image {
      max-width: 100%;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .offers__description {
      max-width: 100%;

      .ratings {
        margin: rem(20) rem(20) rem(24) rem(20);
        h3 {
          font-size: rem(28);
          font-family: $secondary-font;
          margin-bottom: rem(32);
          color: $secondary-color;
        }

        .fa-star {
          color: $star-color;
        }
      }
      p {
        font-size: rem(16);
        font-family: $secondary-font;
        width: fit-content;
        margin: rem(24) rem(20);
        line-height: 1.5;
      }

      .info-price {
        margin: 0 rem(20) rem(20) rem(20);

        span {
          font-size: rem(18);
        }
        .price {
          color: $primary-color;
          font-size: rem(32);
        }
      }

      button {
        border-radius: rem(12);
        border: none;
        padding: rem(16) rem(24);
        font-family: inherit;
        font-size: rem(20);
        background-color: $primary-color;
        color: white;
        margin: 0 0 rem(20) rem(20);
      }
    }
  }

  .buttons {
    margin-top: rem(60);
    display: flex;
    justify-content: space-between;

    button {
      padding: rem(20) rem(28);
      border: none;
      color: #ffffff;
      border-radius: rem(12);
      font-size: rem(20);
    }
  }

  .button__less {
    margin-right: rem(20);
    background-color: $third-color;
  }

  .button__right {
    margin-left: rem(20);
    background-color: $primary-color;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    justify-content: center;

    header {
      display: flex;
      flex-direction: column;
      grid-area: 1 / 2 / 2 / 3;
      align-items: flex-end;

      h1 {
        font-size: rem(64);
      }
      p {
        font-size: rem(24);
      }
    }

    .offers {
      grid-area: 2 / 1 / 3 / 3;
      width: fit-content;
      display: flex;
      flex-direction: row;

      .hidden {
        display: block;
      }
    }

    .buttons {
      grid-area: 1 / 1 / 2 / 2;
      width: fit-content;
    }
  }
}

.app-blog {
  margin: rem(80) rem(16);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    h1 {
      width: fit-content;
      font-size: rem(40);
      font-family: $primary-font;
      border-bottom: rem(2) $primary-color solid;
      padding-bottom: rem(20);
    }

    p {
      margin-top: rem(32);
      font-size: rem(18);
      font-family: $secondary-font;
      color: $secondary-color;
    }
  }

  .image {
    margin: rem(100) auto;
    margin-bottom: rem(32);
    gap: 1rem;
    max-width: rem(497);

    img {
      max-width: 100%;
    }
  }

  .content {
    h3 {
      font-size: rem(40);
      font-family: $primary-font;
      margin-bottom: rem(32);
    }

    P {
      max-width: rem(600);
      font-size: rem(18);
      line-height: 2;
      margin-bottom: rem(24);
    }

    a {
      text-decoration: none;
      color: $primary-color;
      font-size: rem(24);
    }

    .fa-arrow-right {
      color: $primary-color;
    }
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    justify-content: center;
    grid-gap: rem(32);

    header {
      grid-area: 1 / 1 / 2 / 3;

      h1 {
        font-size: rem(64);
      }
      p {
        font-size: rem(24);
      }
    }

    .image {
      grid-area: 2 / 1 / 3 / 2;
      width: fit-content;
      div {
        max-width: rem(672);
        img {
          max-width: 100%;
        }
      }
    }

    .content {
      grid-area: 2 / 2 / 3 / 3;

      h3 {
        font-size: rem(54);
      }

      p {
        font-size: rem(24);
      }
    }
  }
}

.app-planner {
  margin: rem(80) rem(16);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    h1 {
      width: fit-content;
      font-size: rem(40);
      font-family: $primary-font;
      border-bottom: rem(2) $primary-color solid;
      padding-bottom: rem(20);
    }

    p {
      margin-top: rem(32);
      font-size: rem(18);
      font-family: $secondary-font;
      color: $secondary-color;
      max-width: rem(600);
    }

    button {
      padding: rem(20);
      background-color: $primary-color;
      border: none;
      border-radius: rem(12);
      color: #ffffff;
      font-size: rem(18);
    }
  }
}

.hero-section {
  @include background(
    "https://images.unsplash.com/photo-1597339801934-bfb6a88b0010?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80"
  );
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 1rem 6rem 1rem;
  grid-template-areas:
    "head"
    "title"
    "form";
  height: 100%;

  .hero__header {
    display: grid;
    grid-area: head;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;

    .header__nav--desktop {
      display: none;
    }

    .header__login {
      display: none;
    }

    .header__nav--mobile {
      padding-right: 2rem;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .header__logo {
        display: grid;
        & img {
          height: 2.5rem;
        }
      }

      .header__nav--mobile {
        display: none;
      }

      .header__nav--desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        font-family: $secondary-font;
        color: white;

        & a {
          color: inherit;
          font-size: 1.25rem;
          text-decoration: none;
        }

        .active {
          text-decoration: underline 0.2rem;
          text-underline-offset: 0.5rem;
          text-decoration-color: $primary-color;
        }
      }

      .header__login {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        padding-right: 2rem;
        font-family: $secondary-font;
        color: white;

        & a {
          display: flex;
          color: inherit;
          font-size: 1.25rem;
          align-items: center;
          text-decoration: none;
        }

        .sign-up {
          background-color: $primary-color;
          border-radius: 15px;
          padding-top: 1rem;
          padding-left: 2rem;
          padding-bottom: 1rem;
          padding-right: 2rem;
        }
      }
    }
  }

  .main__title {
    display: grid;
    grid-area: title;
    color: white;
    gap: 1rem;
    margin-top: 2rem;

    & h1 {
      font-family: $primary-font;
      font-size: 3rem;
      font-weight: 400;
      line-height: 4rem;
    }

    & h2 {
      font-family: $secondary-font;
      font-size: 1.5rem;
      font-weight: 400;
      margin: 1rem 0 2rem 0;
    }

    @include desktop {
      display: grid;
      grid-area: title;
      margin-top: 6rem;

      h1 {
        font-size: 5rem;
        line-height: 6rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .main__form {
    display: grid;
    grid-area: form;
    background: white;
    border-radius: 1rem;
    font-family: $secondary-font;
    font-size: 0.87rem;
    gap: 1rem;
    grid-template-areas:
      "destination"
      "person"
      "check-in"
      "check-out"
      "book";

    .form__destination {
      grid-area: destination;
      @include form-input();
    }

    .form__person {
      grid-area: person;
      @include form-input();
    }

    .form__check-in {
      grid-area: check-in;
      @include form-input();
    }

    .form__check-out {
      grid-area: check-out;
      @include form-input();
    }

    .form__book {
      background-color: $primary-color;
      grid-area: book;
      border-radius: 0px 0px 16px 16px;
      display: grid;
      align-items: center;
      font-size: 2.25rem;
      font-family: $primary-font;
      color: white;
      font-weight: 400;
      justify-items: stretch;
      grid-auto-flow: column;
      padding: 2.5rem 1rem;

      & label {
        justify-self: start;
      }

      & input {
        position: absolute;
        visibility: hidden;
      }

      & img {
        width: 2rem;
        justify-self: end;
      }
    }

    @include desktop {
      margin-top: 5rem;
      width: 98%;
      border-radius: 0 1rem 1rem 0;
      display: flex;
      justify-content: space-between;

      .form__destination {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }

      .form__person {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }

      .form__check-in {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }

      .form__check-out {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }

      .form__book {
        display: flex;
        flex-direction: row;
        border-radius: 0 1rem 1rem 0;
        gap: 1rem;
      }
    }
  }
}

@include desktop {
  .hero-section {
    height: 100vh;
  }
}
.footer {
  background-color: #172432;
  height: 50vh;
}

footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  background-color: $black;
  font-family: "Rubik", sans-serif;

  .footer__logo--copyright {
    display: flex;
    text-align: center;
    height: 7rem;
    padding: 2rem 2rem 2rem 2rem;
  }

  .footer__nav,
  .footer__info-section,
  .footer__contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5rem;
    height: 20%;
  }

  .info-section__title,
  .contact-info__title,
  .social-networks-title,
  .nav__title {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .contact-info__list,
  .info-section__list,
  .nav__list {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    line-height: 1.5;
  }

  .footer__title {
    font-size: 0.7rem;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 2rem 2rem;
  }

  .social-networks__title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem;
  }

  .social-networks__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem 5rem 2rem;
    justify-content: space-between;

    img {
      height: 3rem;
    }
  }

  @include desktop {
    max-height: 40%;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 3;

    .footer__logo {
      flex-direction: column;
    }

    .footer__logo--copyright {
      margin-top: 1rem;
      line-height: 3;

      h2 {
        font-size: 1rem;
      }
    }

    .contact-info__list,
    .info-section__list,
    .nav__list {
      font-size: 1.2rem;
      padding: 8px 0;
      line-height: 1.5;
    }

    .social-networks__icons img {
      transform: scale(0.5);
    }
  }
}
