/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Playfair Display", serif;
  font-family: "Rubik", sans-serif;
  min-width: 320px;
}

.app-section {
  margin: 5rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.app-section header h1 {
  width: fit-content;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  border-bottom: 0.125rem #ff7757 solid;
  padding-bottom: 1.25rem;
}
.app-section header p {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  color: #767e86;
}
.app-section .underline {
  border: #ff7757 2px solid;
}
.app-section .images {
  margin: 6.25rem auto;
  display: grid;
  grid-template-columns: repeat(1);
  gap: 1rem;
}
.app-section .images .hidden {
  display: none;
}
.app-section .images img {
  max-width: 100%;
}
.app-section .buttons {
  margin-top: 6.25rem;
  display: flex;
  justify-content: space-between;
}
.app-section .buttons button {
  padding: 1.25rem 1.75rem;
  border: none;
  color: #ffffff;
  border-radius: 0.75rem;
  font-size: 1.25rem;
}
.app-section .button__less {
  margin-right: 1.25rem;
  background-color: #172432;
}
.app-section .button__right {
  margin-left: 1.25rem;
  background-color: #ff7757;
}
@media only screen and (min-width: 1440px) {
  .app-section {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    justify-content: center;
  }
  .app-section header {
    grid-area: 1/1/2/2;
    width: fit-content;
  }

  .app-section header h1 {
    font-size: 4rem;
  }
  .app-section header p {
    font-size: 1.5rem;
  }

  .app-section .images {
    grid-area: 2/1/3/3;
    width: fit-content;
    display: flex;
    gap: 2rem;


  }
  .app-section .images .hidden {
    display: block;
  }
  .app-section .images img {
    max-width: 100%;
    height: auto;
  }
  .app-section .buttons {
    grid-area: 1/2/2/3;
    width: fit-content;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
