/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Playfair Display", serif;
  font-family: "Rubik", sans-serif;
  min-width: 320px;
}

.app-section {
  margin: 5rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.app-section header h1 {
  width: fit-content;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  border-bottom: 0.125rem #ff7757 solid;
  padding-bottom: 1.25rem;
}
.app-section header p {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  color: #767e86;
}
.app-section .images {
  margin: 6.25rem auto;
  gap: 1rem;
}
.app-section .images .hidden {
  display: none;
}
.app-section .images img {
  max-width: 100%;
}
.app-section .buttons {
  margin-top: 6.25rem;
  display: flex;
  justify-content: space-between;
}
.app-section .buttons button {
  padding: 1.25rem 1.75rem;
  border: none;
  color: #ffffff;
  border-radius: 0.75rem;
  font-size: 1.25rem;
}
.app-section .button__less {
  margin-right: 1.25rem;
  background-color: #172432;
}
.app-section .button__right {
  margin-left: 1.25rem;
  background-color: #ff7757;
}
@media only screen and (min-width: 1200px) {
  .app-section {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    justify-content: center;
  }
  .app-section header {
    grid-area: 1/1/2/2;
    width: fit-content;
  }
  .app-section header h1 {
    font-size: 4rem;
  }
  .app-section header p {
    font-size: 1.5rem;
  }
  .app-section .images {
    grid-area: 2/1/3/3;
    width: fit-content;
    display: flex;
    gap: 2rem;
  }
  .app-section .images .hidden {
    display: block;
  }
  .app-section .images img {
    max-width: 100%;
    height: auto;
  }
  .app-section .buttons {
    grid-area: 1/2/2/3;
    width: fit-content;
    align-items: center;
  }
}

.app-offer {
  margin: 5rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.app-offer header h1 {
  width: fit-content;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  border-bottom: 0.125rem #ff7757 solid;
  padding-bottom: 1.25rem;
}
.app-offer header p {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  color: #767e86;
}
.app-offer .offers {
  margin: 6.25rem auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.app-offer .offers .offers__section {
  max-width: 26.75rem;
  margin: 1.25rem;
  background-color: #fff8f1;
  border-radius: 1.625rem;
}
.app-offer .offers .hidden {
  display: none;
}
.app-offer .offers .offers__image {
  max-width: 100%;
}
.app-offer .offers .offers__image img {
  max-width: 100%;
  height: auto;
}
.app-offer .offers .offers__description {
  max-width: 100%;
}
.app-offer .offers .offers__description .ratings {
  margin: 1.25rem 1.25rem 1.5rem 1.25rem;
}
.app-offer .offers .offers__description .ratings h3 {
  font-size: 1.75rem;
  font-family: "Rubik", sans-serif;
  margin-bottom: 2rem;
  color: #767e86;
}
.app-offer .offers .offers__description .ratings .fa-star {
  color: #ffd500;
}
.app-offer .offers .offers__description p {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  width: fit-content;
  margin: 1.5rem 1.25rem;
  line-height: 1.5;
}
.app-offer .offers .offers__description .info-price {
  margin: 0 1.25rem 1.25rem 1.25rem;
}
.app-offer .offers .offers__description .info-price span {
  font-size: 1.125rem;
}
.app-offer .offers .offers__description .info-price .price {
  color: #ff7757;
  font-size: 2rem;
}
.app-offer .offers .offers__description button {
  border-radius: 0.75rem;
  border: none;
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-size: 1.25rem;
  background-color: #ff7757;
  color: white;
  margin: 0 0 1.25rem 1.25rem;
}
.app-offer .buttons {
  margin-top: 3.75rem;
  display: flex;
  justify-content: space-between;
}
.app-offer .buttons button {
  padding: 1.25rem 1.75rem;
  border: none;
  color: #ffffff;
  border-radius: 0.75rem;
  font-size: 1.25rem;
}
.app-offer .button__less {
  margin-right: 1.25rem;
  background-color: #172432;
}
.app-offer .button__right {
  margin-left: 1.25rem;
  background-color: #ff7757;
}
@media only screen and (min-width: 1200px) {
  .app-offer {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    justify-content: center;
  }
  .app-offer header {
    display: flex;
    flex-direction: column;
    grid-area: 1/2/2/3;
    align-items: flex-end;
  }
  .app-offer header h1 {
    font-size: 4rem;
  }
  .app-offer header p {
    font-size: 1.5rem;
  }
  .app-offer .offers {
    grid-area: 2/1/3/3;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }
  .app-offer .offers .hidden {
    display: block;
  }
  .app-offer .buttons {
    grid-area: 1/1/2/2;
    width: fit-content;
  }
}

.app-blog {
  margin: 5rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.app-blog header h1 {
  width: fit-content;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  border-bottom: 0.125rem #ff7757 solid;
  padding-bottom: 1.25rem;
}
.app-blog header p {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  color: #767e86;
}
.app-blog .image {
  margin: 6.25rem auto;
  margin-bottom: 2rem;
  gap: 1rem;
  max-width: 31.0625rem;
}
.app-blog .image img {
  max-width: 100%;
}
.app-blog .content h3 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;
}
.app-blog .content P {
  max-width: 37.5rem;
  font-size: 1.125rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
.app-blog .content a {
  text-decoration: none;
  color: #ff7757;
  font-size: 1.5rem;
}
.app-blog .content .fa-arrow-right {
  color: #ff7757;
}
@media only screen and (min-width: 1200px) {
  .app-blog {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    justify-content: center;
    grid-gap: 2rem;
    width: 100%;
  }
  .app-blog header {
    grid-area: 1/1/2/3;
  }
  .app-blog header h1 {
    font-size: 4rem;
  }
  .app-blog header p {
    font-size: 1.5rem;
  }
  .app-blog .image {
    grid-area: 2/1/3/2;
    width: fit-content;
  }
  .app-blog .image div {
    max-width: 42rem;
  }
  .app-blog .image div img {
    max-width: 100%;
  }
  .app-blog .content {
    grid-area: 2/2/3/3;
  }
  .app-blog .content h3 {
    font-size: 3.375rem;
  }
  .app-blog .content p {
    font-size: 1.5rem;
  }
}

.app-planner {
  margin: 5rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.app-planner header h1 {
  width: fit-content;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  border-bottom: 0.125rem #ff7757 solid;
  padding-bottom: 1.25rem;
}
.app-planner header p {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  color: #767e86;
  max-width: 37.5rem;
  margin-bottom: 2rem;
}
.app-planner header button {
  padding: 1.25rem;
  background-color: #ff7757;
  border: none;
  border-radius: 0.75rem;
  color: #ffffff;
  font-size: 1.125rem;
  margin-bottom: 6.25rem;
}
.app-planner section {
  margin-bottom: 2.5rem;
}
.app-planner section .app-planner__info {
  display: flex;
  flex-direction: column;
}
.app-planner section .app-planner__info .planner__name {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}
.app-planner section img {
  margin: 1.25rem;
}
.app-planner section h3 {
  font-size: 1.75rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 0.75rem;
}
.app-planner section .planner__rating {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
}
.app-planner section .fa-star {
  color: #ffd500;
}

/*# sourceMappingURL=styles.css.map */
